<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key ="VAULT_PATH" value="\\pandora\vault" />
    <add key ="IID_DATABASE_PATH" value="\\ares\shared\Operations\Test Engineering\FASTSeek\ProductCodesMaster.mdb" />
    <add key ="LOGFILE_PATH" value="\\ares\shared\Operations\Test Engineering\FASTSeek\log.txt" />
  </appSettings>
</configuration>