<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="VAULT_PATH" value="\\pandora\vault" />
    <add key="IID_DATABASE_PATH" value="\\kb-fp02\shared\Operations\Test Engineering\Test Softwares\ProcedureSearch\ProductCodesMaster.mdb" />
    <add key="LOGFILE_PATH" value="\\kb-fp02\shared\Operations\Test Engineering\Test Softwares\ProcedureSearch\log.txt" />
    <add key="UNRELEASED_DOCS_PATH" value="\\kb-fp02\shared\Operations\Test Engineering\Documents ready for release" />
    <add key="AUTO_OPEN_DOC_AFTER_SEARCH" value="false" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>